.lyrics-area {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    /* height: calc(100% - 60px - 500px); */
    /* width: 100%; */
    overflow: auto;
    margin: 16px 24px;
  }

  
  .lyrics::-webkit-scrollbar {
    display: none; /* スクロールバー非表示 */
}
.lrc {
    width: 100%;
    flex: 1;
    overflow-y: auto; 
    /* スクロールバー非表示用*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE11 */
    /* overflow-wrap: break-word; */
  }
  
.react-lrc-line{
    padding-top: 8px;
    width: 100%;
}

/* 切れ目を薄く */
/* .lyrics-area::before,
.lyrics-area::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: none;
}

.lyrics-area::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.lyrics-area::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
} */
.no-lyrics{
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.enable-auto-lyrics-btn{
    /* reset CSS */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    /* */
    width: 55px;
    height: 55px;
    color: white;
    /* background: #86c0de; */
    background: #41aeae;
    border-radius: 55px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    opacity: 0.6;
}