.lyrics {
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow: auto;
  }

  
  .lyrics::-webkit-scrollbar {
    display: none; /* スクロールバー非表示 */
}
.lrc {
  flex: 1;
  overflow-y: auto; 
  /* スクロールバー非表示用*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE11 */
}