/* :::::: toggle button :::::: */
.add-music #addDrawer {
	display: none;
}
.add-music label {
	cursor: pointer;
	position: fixed;
    display: flex;
    justify-content: center;
    align-items: center
}
.add-music .open {
	z-index: 2;
    color: white;
	/* top: 40px; */
    bottom: 40px;
	right: 24px;
	width: 55px;
	height: 55px;
	border-radius: 55px;
	background: #86c0de;
	transition: background .4s, transform .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.add-music .open::before {
	transform: translateY(-8px);
}
.add-music .open::after {
	transform: translateY(8px);
}
.add-music .close {
	z-index: 1;
	inset: 0;
	pointer-events: none;
	transition: background .4s;
}
.add-music #addDrawer:checked + .open {
	background: #dc6688;
    color: black;
	/* transform: translateX(-280px); */
}
.add-music #addDrawer:checked + .open span {
	transform: scaleX(0);
}
.add-music #addDrawer:checked + .open::before {
	transform: rotate(135deg) scaleX(1.2);
}
.add-music #addDrawer:checked + .open::after {
	transform: rotate(-135deg) scaleX(1.2);
}
.add-music #addDrawer:checked ~ .close {
	pointer-events: auto;
	background: rgba(0,0,0,.3);
}

/* :::::: drawer menu :::::: */
.add-music .menu {
	z-index: 1;
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	width: 280px;
	/* width: 80%; */
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	transform: translateX(100%);
	transition: transform .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.add-music .menu h2 {
	color: white;
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 400;
	letter-spacing: .1em;
	text-align: center;
}
.add-music .menu ul {
	margin: 0;
	padding: 0;
}

.add-music input{
    width: 95%;
}
/* メニューの線 */
.add-music .menu li:not(:first-child) {
	border-top: 1px solid rgba(255,255,255,.6);
}
.add-music .menu li:hover {
	background: black;
}
.add-music #addDrawer:checked ~ .menu {
	transform: none;
}

.add-music .menu li {
    height: 60px;
    width: 100%;
	line-height: 1.4;
    display: flex;
    align-items: center;
	color: white;
	text-decoration: inherit;
	transition: background .4s;
    overflow: hidden;
}


.add-music .menu img {
    border-radius: 0;
    margin-left: 0;
    height: 80%;
}

.add-music .item .title-artists{
    margin-left: 16px;
    height: 100%;
    width: 100%;
}

.add-music .item .title-artists .title{
    display: block;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis;  */
}


.add-music .item .title-artists .artists{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.add-music .item .title-artists .artists .artist{
    /* margin-left: 16px; */
    /* display: block; */
    color: rgb(200, 196, 196);
    font-size: 14px;
}



.add-music .item.swiped {
    transform: translateX(-100px);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.add-music .item {
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth movement */
  }

/* .add-music .add-ok{
    position: absolute;
    right: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 100%;
    width: 65%;
    background: limegreen;
} */